<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hra">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.HRA">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name = ".Userloginactivity"
            android:label="MainActivity"/>

        <activity android:name = ".Createaccount"
            android:label="MainActivity"/>

        <activity android:name = ".Hotelslist"
            android:label="Userloginactivity"/>

        <activity android:name = ".ResetPassword"
            android:label="Userloginactivity"/>

        <activity android:name = ".Hotel1details"
            android:label = "Hotelslist"/>

        <activity android:name = ".thankyou"
            android:label = "Hotelslist"/>

        <activity android:name = ".Cancellationpage"
            android:label = "Hotelslist"/>

        <activity android:name = ".Hotel2details"
            android:label = "Hotelslist"/>

        <activity android:name = ".Hotel3details"
            android:label = "Hotelslist"/>

        <activity android:name = ".Hotel4details"
            android:label = "Hotelslist"/>

        <activity android:name = ".Hotel5details"
            android:label = "Hotelslist"/>

        <activity android:name = ".Bookings"
            android:label = "Hotelslist"/>


    </application>

</manifest>